{{ define "home"}}

<div class="col-sm-8 text-left"> 
      <h1>Добро пожаловать. Снова.</h1>
      <p>Этот сайт - результат моих попыток освоить Golang и какие-то азы веб-разработки</p>
      <p>В основе будет лежать небольшой <a href="https://www.youtube.com/channel/UC2ZML5bXoJrvAlhsqMVUvXg" target="_blank">видеокурс от Sergey Gavruk</a></p>
      <p>Ссылка на git-репозиторий: <a href="https://github.com/xxlaefxx/goblog" target="_blank">https://github.com/xxlaefxx/goblog</a></p>
      <hr>
    </div>

{{ end }}