{{ define "leftside"}}

<div align="left" class="col-sm-2 sidenav">
      <!--<p><a href="#">Link</a></p>-->
      <p><h3>Ближайщие таски:</h3></p>
      <ul>
        <li><del>Сделать форму для постов</del></li>
        <li><del>Отображать посты на вкладке "Блог"</del></li>
        <li>Делать нужную вкладку активной (class="active")</li>
        <li><del>Сделать футер всегда в самом низу</del></li>
        <li><del>Плавающая высота для основной части</del></li>
        <li><del>Возможность изменить пост</del></li>
        <li><del>Возможность удалить пост</del></li>
        <li><del>Невозможность удалить пост нечаянно</del></li>
        <li><del>Сделать "Удалить" кнопкой</del></li>
        <li><del>Перейти ко 2-му уроку</del></li>
        <li>Перейти на Martini и изучить его</li>
        <li>Добавить Render</li>
        <li>Добавить поддержку Markdown</li>
        <li>Отображать HTML при вводе MD</li>
      </ul>
    </div>

{{ end }}