{{ define "leftside"}}

<div align="left" class="col-sm-2 sidenav">
      <!--<p><a href="#">Link</a></p>-->
      <p><h3>Ближайщие таски:</h3></p>
      <ul>
        <li><del>Сделать форму для постов</del></li>
        <li><del>Отображать посты на вкладке "Блог"</del></li>
        <li>Делать нужную вкладку активной (class="active")</li>
        <li><del>Сделать футер всегда в самом низу</del></li>
        <li><del>Плавающая высота для основной части</del></li>
        <li><del>Возможность изменить пост</del></li>
        <li><del>Возможность удалить пост</del></li>
        <li><del>Невозможность удалить пост нечаянно</del></li>
        <li><del>Сделать "Удалить" кнопкой</del></li>
        <li><del>Перейти ко 2-му уроку</del></li>
        <li><del>Перейти на Martini и изучить его</del></li>
        <li><del>Добавить Render</del></li>
        <li><del>Добавить поддержку Markdown</del></li>
        <li><del>Отображать HTML при вводе MD</del></li>
        <li><del>Разобраться editor'ами</del></li>
        <li>Сделать загрузку картинок на сервер для постов</li>
        <li>Перейти к 3-му уроку про монгу</li>
      </ul>
    </div>

{{ end }}