{{ define "post" }}

{{ template "header" }}

{{ template "navbar" }}

<script>
function confirmRemoval() {
    if (confirm("Вы уверены, что хотите удалить этот пост?")) {
        return true;
    } else {
        return false;
    }
}
</script>
  
<div class="container-fluid text-center">    
  <div class="row content">
  
    {{ template "leftside" }}

    <div class="col-sm-8 text-left"> 
      <h1>Добавление нового поста</h1>
      <hr>
      <div class="col-xs-8">
        <form role="form" method="POST" action="/savepost">
            <input type="hidden" name="id" value="{{.ID}}"/>
            <div class="form-group">
                <label>Заголовок</label>
                <input type="text" class="form-control" id="title" name="title" value="{{.Title}}" required/>
            </div>
            <div class="form-group">
                <label>Содержимое</label>
                <textarea class="form-control" id="content" name="content" rows="10">{{.Content}}</textarea>
            </div>
            <div>
              <button type="submit" class="btn btn-success">Отправить</button>
              {{ if .ID }}
              <button type="reset" class="btn btn-default">Отменить изменения</button>
              {{ end }}
        </form>
        {{ if .ID }}
        <a href="/delete?id={{.ID}}" class="btn btn-danger"  onclick="return confirmRemoval();">Удалить</a>
        {{ end }}
        </div>
      </div>
    </div>

    {{ template "rightside" }}

  </div>
</div>

{{ template "footer" }}

{{ end }}